#yes {
    background: url("https://as1.ftcdn.net/jpg/05/21/07/08/1000_F_521070843_mlfMU2tCPbpXUmD8N9qnzPdLd7ZYgT8I.jpg");
    height: 800px;
    width: 800px;
    background-size: cover;
    border-radius: 50%;
}
