nav {
    text-align:right;
}
h1 {
    font-size:50px;
    text-align:center;
}
.image {
    display:flex;
    justify-content:center;
    align-items:center;
}
h2 {
    text-align:center;
    font-size:35px;
    color:blue;
}
.vision {
    height:2px;
    width:15%;
    margin:auto;
}
.img{
    padding-top:200px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.text {
    padding-left:620px;
    font-size:22px;
}
.head {
    width: 100%;
}
#church {
    height: 80px;
    width: 150px;
    text-align: center;
}
#la {
    font-size: 18px;
}
#yes {
    font-size: 20px;
}
#de {
    font-size: 14px;
}
#a {
    text-decoration: none;
    color: black;
}
#top {
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.xd {
    padding-top: 28px;
}
.among {
    display: flex;
}
