input {
    height: 6vh;
    font-size: 4vh;
}
body {
    background-color: #BAF5FF;
    margin: 0;
}
form {
    display: flex;
    justify-content: center;
}
#div {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#div2 {
    width: 30%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div3 {
    background-color:;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 40vh;
}
h1 {
    font-size: 8vh;
}
.h2 {
    font-size: 7vh;
}
