#buttons {
    display: flex;
    width: 100vw;
    justify-content: space-around;
}
.xd {
    display: flex;
    width: 100vw;
    justify-content: center;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}
