/* Element Selector */
* {
    color: #282828;
    font-family: sans-serif;
}
h1 {
    text-transform: uppercase;
    color: peru;
}
/* ID Selector */
#status {
    font-family: sans-serif;
}
img {
    width:500px;
}
/* Class Selector */
.standout {
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 1rem;
}
.sub {
    text-transform: uppercase;
    color: saddlebrown;
    font-size: 1.2rem;
    font-weight: bold;
}
/* Group Selector */
h1, .subtitle {
    font-family:serif;
}
/* Pseudo Class Selector */
a {
    text-decoration: none;
    color: rgb(163, 157, 111);
}
a:hover {
    text-decoration: underline;
}
main {
    width: 600px;
    margin: auto;
}
#victor {
    padding-bottom: 25px;
}
.space{
    padding-top: 25px;
}
