/* Element Selector */
h1 {
    text-transform: uppercase;
    color: peru;
}
/* ID Selector */
#status {
    font-family: sans-serif;
}
img {
    width:500px;
}
/* Class Selector */
.standout {
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 1rem;
}
.sub {
    text-transform: uppercase;
    color: saddlebrown;
    font-size: 1.2rem;
    font-weight: bold;
}
