body {
    background-color: #CFCFCF;
    margin: 0;
}
#result {
    height: 20vh;
    width: 100vw;
}
#result2 {
    display: flex;
    justify-content: center;
    align-text: center;
    font-size: 12vh;
    padding-top: 2vh;
}
#coin {
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer {
    height: 20vh;
    width: 100vw;
    background-color: #7091FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: -5vw;
}
.flip {
    height: 15vh;
    width: 20vw;
    font-size: 5vh;
    border-radius: 3%;
    background-color: #C7C7C7;
}
#headtail {
    border-radius: 50%;
    height: 55vh;
    width: 55vh;
    background-color: #7A7A7A;
    background-image:;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 5px solid black;
}
#correct {
    font-size: 8vh;
}
.flip:hover {
    background-color: #B0B0B0;
}
