body {
    background-color: peru;
    margin: 0;
}
#result {
    height: 20vh;
    width: 100vh;
}
#coin {
    height: 60vh;
    width: 100vw;
    background-color: blue;
}
#footer {
    height: 20vh;
    width: 100vw;
    background-color: red;
}
